@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    border: 2px solid #000000;
    background: green;
    padding: 10px;
}
.item {
    border: 2px solid #000000;
    background-color: gold;
    padding: 10px;
}

/* ----------------------------------- */
/* grid-template-areas */
/* 각 영역의 이름을 붙이고 --> grid-area: 영역의이름; */
/* 그 이름을 이용하여 grid-template-areas에서 배치 */
/* 빈칸 만들기 --> 마침표는 셀의 빈칸을 만든다
                    (마침표 대신 [none] [..] [....] 여러개의 마침표로 표현 할 수 있다.
                    --> 공백없이 여러개의 마침표를 사용하여도 하나의 마침표를 찍는것과 같다.) 

    이름과 이름 사이는 한칸이상만 띄우면 된다. 여러칸 띄워도 1칸 띄운것과 동일하다.
*/

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    'header header header'
    'side-a main side-b'
    '   .     .    .      '
    'footer footer footer'
    ;
    height: 80vh;
    grid-template-rows: 100px 1fr 30px 100px;
}
.header {grid-area: header;}  /* 이름을 붙이는 과정 */
.side-a {grid-area: side-a;}
.main {grid-area: main;}
.side-b {grid-area: side-b;}
.footer {grid-area: footer;}
