@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: green;
}

.container .item {
    border: 2px solid #000;
    background-color: yellow;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
}
.item {
    width: 30%;
    height: 100px;
}