@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: green;
}

.container .item {
    border: 2px solid #000;
    background-color: yellow;
}

.container {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    height: 100vh;
    align-content: start;
}
.item {
    /* 순서 flex: flex-glow, flex-shrink, flex-basis */
    /* flex: 1 1 0; */
    width: 30%;
    height: 500px;
}

/* 줄어들어라-->flex-shrink:1 늘어나지마라-->flex-glow:0 */
.item:nth-child(1) {
    width: 100%;
    height: 150px;
}
.item:nth-child(2) {
    width: 200px;
    flex-shrink: 0;
}
.item:nth-child(3) {
    flex-grow: 1;
}
.item:nth-child(4) {
    width: 200px;
    flex-shrink: 0;
}
.item:nth-child(5) {
    flex-grow: 1;
    width: 100%;
    height: 100px;
}

@media (max-width:600px){
    .item:nth-child(4) {
        flex-grow: 1;
        height: 300px;
    }
}