@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    border: 2px solid #000000;
    background: green;
    padding: 10px;
}
.item {
    border: 2px solid #000000;
    background-color: gold;
    padding: 10px;
}

/* ----------------------------------- */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item:nth-child(2) {
    transform: scale(2);
}
.item:nth-child(3) {
    z-index: 10;/* grid와 flex는 z-index를 실행하기 위한 position이 없이도 실행된다. */
}
.item:nth-child(7) {order: 3;}
.item:nth-child(8) {order: 1;}
.item:nth-child(9) {order: 2;}