@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    border: 2px solid #000000;
    background: green;
    padding: 10px;
}
.item {
    border: 2px solid #000000;
    background-color: gold;
    padding: 10px;
}

/* ----------------------------------- */

.container {
    display: grid;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(100px, auto)); */
    height: 80vh;

    /* align-content --> 부모의 높이나 넓이가 자식의 총 넓이나 높이보다 작을때 정렬 */
    align-content: center; /* 높이에 대해서 정렬 */


    grid-template-columns: 100px 100px 100px;
    justify-content: center; /* 넓이에 대해서 정렬 */

    /* place-content: align-content justify-content; */
    place-content: space-between center;

}
.item {

}