@charset "UTF-8";
:root {
    /* //css에서 변수 만들기 */
    --color:red;
    --color2:blue;
}

* {
    padding: 0;
    margin: 0;
}

h2 {/* 변수를 사용하는 방법 */
    color: var(--color);
    background-color: var(--color2);
}

.page1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 .card {
    position: relative;
    width: 300px;
    height: 450px;
}
.page1 .card span {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% / 6);
    left: calc(100%/6*var(--i));
    height: 100%;
    background: none;
}
.page1 .card img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%;
    left: 0;
    top: 0; */
    pointer-events: none;
    opacity: 0;
}
.page1 .card img:nth-of-type(1) { /* <<자식들중 같은 요소 안의 n번째 찾는법 */
    opacity: 1;
}
.page1 .card span:hover + img {
    opacity: 1;
}
