@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 900px;
    margin: 0 auto;
    padding: 10% 0;
}
.wrap>div {
    margin-top: 50px;
    border-top: 1px solid #ccc;
}
.wrap>div h2 {
    text-align: center;
    margin: 10px 0;
}
h1 {
    text-align: center;
}

/* 첫번째 */
.table1 {}
.table1 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table1 tr {}
.table1 tr th {border: 1px solid #ccc;}
.table1 tr td {border: 1px solid #ccc;}


/* 두번째 */
.table2 {}
.table2 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table2 tr {}
.table2 tr th {border: 1px solid #ccc;}
.table2 tr td {border: 1px solid #ccc;}


/* 세번째 */
.table3 {}
.table3 table {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    background-color: #dfe9e1;
    border-collapse: collapse; /* 표와 선사이의 공간을 없애줌 */
}
.table3 tr {}
.table3 tr:nth-child(1) {
    border-bottom: 3px double #000;
}
.table3 tr:nth-child(2) {
    height: 100px;
}
.table3 tr th {border: 1px solid #777777;}
.table3 tr th:nth-child(1) {border-left: none;}
.table3 tr th:nth-child(3) {border-right: none;}
.table3 tr td {border: 1px solid #777;}
.table3 tr td:nth-child(1) {border-left: none;}
.table3 tr td:nth-child(3) {border-right: none;}

.table3 tr th:nth-child(1) {
    width: 30%;
}
.table3 tr th:nth-child(2) {
    width: 50%;
}
.table3 tr th:nth-child(3) {
    width: 20%;
}

/* 네번째 */
.table4 {}
.table4 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table4 tr {}
.table4 tr th {border: 1px solid #ccc;}
.table4 tr td {border: 1px solid #ccc;}


/* 다섯번째 */
.table5 {}
.table5 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table5 tr {}
.table5 tr th {border: 1px solid #ccc;}
.table5 tr td {border: 1px solid #ccc;}

/* 여섯번쨰 */
.table6 {}
.table6 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table6 tr {}
.table6 tr th {border: 1px solid #ccc;}
.table6 tr td {border: 1px solid #ccc;}

/* 일곱번째 */
.table7 {}
.table7 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table7 tr {}
.table7 tr th {border: 1px solid #ccc;}
.table7 tr td {border: 1px solid #ccc;}

/* .table7 tr:nth-child(2n)  짝수 */
.table7 tr:nth-child(even) { /* 짝수 */
    background-color: rgba(190, 141, 141, 0.3);
}

/* .table7 tr:nth-child(2n+1) 홀수 */
.table7 tr:nth-child(odd) { /* 홀수 */
    background-color: rgba(51, 214, 65, 0.3);
}

.table7 tr th:nth-child(even),
.table7 tr td:nth-child(even) {
    background-color: rgba(27, 56, 124, 0.3);
}
.table7 tr th:nth-child(odd),
.table7 tr td:nth-child(odd) {
}

/* 여덟번째 */
.table8 {}
.table8 table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table8 tr {
    border-bottom: 1px solid #ccc;
}
.table8 tr:hover {
    background-color: #cacaca;
}
.table8 tr th,
.table8 tr td {
    padding: 15px;
}

/* 아홉번째 */
.table9 {}
.table9 table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.table9 tr {}
.table9 tr:hover {
    background-color: #cacaca;
}
.table9 tr th,
.table9 tr td {
    padding: 15px;
    border: 1px solid #ccc;
}
.table9 colgroup col:nth-child(1) {
    background-color: rgba(41, 98, 145, 0.3);
}
.table9 colgroup col:nth-child(2) {
    background-color: rgba(61, 145, 214, 0.3);

}
.table9 colgroup col:nth-child(3) {
    background-color: rgba(134, 137, 139, 0.3);

}