@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
.border {
    height: 100vh;
    background-color: #fcdada;
}
.border .border_blob {
    position: relative;
    width: 480px;
    height: 480px;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    overflow: hidden;
    background-color: #924040;
    /* 수평:h, 수직:v, 왼쪽:l , 오른쪽:r, 위쪽:t, 아래쪽:b */
    border-radius: 20px; /* // tl,tr,br,bl */
    border-radius: 10px 40px; /* //tl br, tr bl */
    border-radius: 10px 40px 80px; /* //tl ,tr bl, br */
    /* border-radius: htl htr hbr hbl / vtl vtr vbr vbl ;/ */
    border-radius: 44% 56% 70% 30% / 52% 30% 70% 48% ;
    animation:go 6s linear infinite alternate both ;
}
.border .border_blob img {
    width: 100%;
}


/* ro */
.ro {
    position: absolute;
    width: 480px;
    height: 480px;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    animation: rotate 6s linear infinite alternate both;
}
.ro .border_blob2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 480px;
    border: 0.5px solid #6b6a6a;
    animation:go 6s linear infinite alternate both;
}
.ro .bb2 {
    animation-delay: 2s;
}





@keyframes go{
    0%{border-radius: 35% 65% 36% 64% / 42% 42% 58% 58% ;}
    50%{border-radius: 54% 46% 50% 50% / 48% 49% 51% 52% ;}
    100%{border-radius: 61% 39% 57% 43% / 43% 56% 44% 57% ;}
}
@keyframes rotate{
    0%{transform: rotate(0deg);}  /* degree 각도 */
    100%{transform: rotate(360deg);}
}