@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: green;
    display: flex;
    flex-direction: row;    /* 기본값 */
    flex-direction: column; /* 수직정렬 */
    flex-direction: row-reverse;
    flex-direction: column-reverse;

    flex-direction: row;
    
    /* 줄넘김 처리 */
    flex-wrap: wrap;  /* 부모보다 넘치는 자식은 밑으로 떨어진다. */
}

/* block요소인 item이 flex되면 자식의 공간만 차지한다. */
/* 넓이값을 줬을때 100%가 넘더라도, 또는 부모의 공간보다 넘더라도
    아래로 내려가지 않는다.*/
.container .item {
    border: 2px solid #000;
    background-color: yellow;
    width: 40%;
}